* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    border-width:0px;
}

main {
    margin-top: 40px;
    display:flex;
    flex-flow: column;
    background-color: #FEFEFF;
    padding-top:16px ;
}
p {
    font-size: 18px;
}


/* Header */
header {
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom: #1D1D1E 5px solid;
    position: fixed;
    left: 0;
    right:0;
    top:0;
}

nav a{
    color:black;
    text-decoration: none;
    font-size: 24px;
    margin-right: 8px;
}
nav a:hover {
    text-decoration: underline;
    box-shadow: 1px #1D1D1E;
}





/* Heading */

#heading {

    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    margin-bottom: 16px;
    padding-left: 4px;
    padding-right: 4px;
}
#heading img {
    width: 360px;
    border-radius: 50%;
    margin-left: 8px;
}



/* Bio */
#bio #link {
    background-color: blue;
    color:white;
    padding:16px;
    font-size: 24px;
    text-decoration: none;
}

#bio {
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: flex-start;
}

#bio > * {
    margin-bottom:4px;
}
#bio p{
    color: #575656;
    width: 50%;
}




#about {
    background-color:#24292E ;
    color:white;
    padding: 16px 32px 16px 32px;
    margin-bottom: 16px;
    letter-spacing: 1.5px;
}
#about h1 {
    margin-bottom: 8px;
}




#portfolio {
    display: flex;
    flex-flow:column nowrap;
    padding: 16px 32px 16px 32px;
}

#cards {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;

}

.card {
    width: 325px;
    margin:16px;
    /* border: 1px #575656 solid; */
    border-radius: 3%;
    background-color: #24292E;
    color:#eeefef;
    padding: 16px;
    letter-spacing: 1.5px;
}
.card img {
    border-radius: 3%;
    width: 100%;
    margin:8px 0px 8px 0px;
}
.card .project_name {
    color: rgb(255, 255, 255);
}







footer {
    background-color: #1D1D1E;
    display: flex;
    justify-content: center;
}
footer i {
    font-size: 65px;
    color:white;
    margin:16px;
}




@media (max-width:768px) {
    #heading {
        flex-flow:column nowrap;
        align-items: center;
    }
    #bio
    {
        align-items: center;
        margin-bottom: 16px;
    }

    header h1 {
        font-size: 28px;
    }
    nav a{
        color:black;
        text-decoration: none;
        font-size: 20px;
        margin-right: 8px;
    }

}